@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

header {
    width: 1400px;
    margin: auto;
}
.headBar {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    height: 100px;
    margin: auto;
}


.headBar ul {
    margin: 0;
    padding-top: 30px;
    /* padding-right: 10px; */
}

.headBar ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.barList a {
    text-decoration: none;
    color: lightslategray;
}

.roadmapImage {
    width: 1350px;
    justify-content: center;
    margin: auto;
    position: relative;
    display: flex;
}

.roadmapImage img {
    width: 1350px;
}

.roadmapImage h1 {
    position: absolute;
    color: white;
    font-size: 50px;
}

.roadmapImage h2 {
    position: absolute;
    color: goldenrod;
    top: 100px;
}

.first, .third, .fifth, .seventh, .tenth{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: 0.7s opacity ease;
}

.zero {
    top: 500px;
    left: 58px;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
}

.first {
    top: 250px;
    left: 267px;
    line-height: 1.3;
    
}

.third {
    top: 494px;
    left: 474px;
}

.fifth {
    top: 255px;
    left: 683px;
    line-height: 1;
}

.seventh {
    top: 492px;
    left: 890px;
    line-height: 1.2;
}

.tenth {
    top: 250px;
    left: 1097px;
}

/* div:hover {
    opacity: 1;
} */