@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

header {
    width: 1200px;
    margin: auto;
}
.headBar {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    height: 100px;
    margin: auto;
}


.headBar ul {
    margin: 0;
    padding-top: 30px;
    /* padding-right: 10px; */
}

.headBar ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.barList a {
    text-decoration: none;
    color: lightslategray;
}

section {
    display: block;
    width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 30px;
}

section h4 {
    float: right;
}

.title {
    width: 1200px;
    text-align: center;
}
.worldMap {
    display: block;
    position: relative;
    /* top: 100px; */
    margin: auto;
}

.worldMap img {
    width: 1200px;
    border-radius: 15px;
}

.japan, .europe, .philippines {
    border: 1px solid red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    display: inline;
    cursor: pointer;
    font-size: 20px;
}

.japan {
    left: 1055px;
    top: 240px;
}

.philippines {
    left: 1005px;
    top: 320px;
}

.europe {
    left: 610px;
    top: 205px;
}


.japan:hover, .europe:hover, .philippines:hover {
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 3px 3px white;
    transition: 0.5s ease;
    font-size: 24px;
}


.caption1, .caption2, .caption3 {
    position: relative;
    color: white;
    font-weight: 700;
    
}
.caption1 {
    top: -60px;
    left: -31px;
}

.caption2 {
    top: -60px;
    left: -52px;
}

.caption3 {
    top: -60px;
    left: -32px;
}

.showAll {
    border-radius: 10px;
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.box, .japanBox, .philippinesBox, .europeBox {
    width: 1200px;
}
.japanBox {
    position: relative;
    line-height: 2;
}

.japanVideo, .japanSecondDay, .japanThirdDay, .japanFourthDay, .japan3d {
    display: flex;
    justify-content: center;
}

iframe {
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
}