@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

header {
    width: 1200px;
    margin: auto;
}
.headBar {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    height: 100px;
    margin: auto;
}


.headBar ul {
    margin: 0;
    padding-top: 30px;
    /* padding-right: 10px; */
}

.headBar ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.barList a {
    text-decoration: none;
    color: lightslategray;
}

section {
    display: block;
    width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 30px;
}

section h4 {
    float: right;
}

.title {
    width: 1200px;
    text-align: center;
}
.worldMap {
    display: block;
    position: relative;
    /* top: 100px; */
    margin: auto;
}

.worldMap img {
    width: 1200px;
    border-radius: 15px;
}

.japan, .europe, .philippines {
    border: 1px solid red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    display: inline;
    cursor: pointer;
    font-size: 20px;
}

.japan {
    left: 1055px;
    top: 240px;
}

.philippines {
    left: 1005px;
    top: 320px;
}

.europe {
    left: 610px;
    top: 205px;
}


.japan:hover, .europe:hover, .philippines:hover {
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 3px 3px white;
    transition: 0.5s ease;
    font-size: 24px;
}


.caption1, .caption2, .caption3 {
    position: relative;
    color: white;
    font-weight: 700;
    
}
.caption1 {
    top: -60px;
    left: -31px;
}

.caption2 {
    top: -60px;
    left: -52px;
}

.caption3 {
    top: -60px;
    left: -32px;
}

.showAll {
    border-radius: 10px;
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.box, .box2, .japanBox, .philippinesBox, .europeBox {
    width: 1200px;
}
.japanBox {
    position: relative;
    line-height: 2;
}

.japanVideo, .japanSecondDay, .japanThirdDay, .japanFourthDay, .japan3d, .philippinesVideo1, .europeVideo, .routeImg {
    display: flex;
    justify-content: space-around;
}

.routeImg {
    position: relative;
    align-items: center;
}
.routeImg img{
    width: 1000px;
}

.route span {
    cursor: pointer;
}

.japanmapBox {
    display: flex;
    justify-content: center;
}

.kyotomap{
    width: 500px;
    margin: 0 30px;
}

.osakamap {
    width: 535px;
    margin: 0 30px;
}
.kyotomap img, .osakamap img{
    width: 100%;
}

#kiyoBox, #goldBox, #mallBox, #foxBox, #studioBox, #harukasBox, #dotonBox, #umedaBox, #castleBox{
    position: absolute;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    transition: 0.5s opacity ease;
    border: 1px solid black;
}

.kiyoHide, .goldHide, .mallHide, .foxHide, .studioHide, .harukasHide, .dotonHide, .umedaHide, .castleHide {
    opacity: 0;
}

.kiyoShow, .goldShow, .mallShow, .foxShow, .studioShow, .harukasShow, .dotonShow, .umedaShow, .castleShow {
    opacity: 1;
}
/* .routeImg img:hover {
    width: 1100px;
    cursor: pointer;
    transition: 0.3s ease;
} */

iframe {
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
}

/* .europeMap { */
    /* position: relative; */
    /* display: flex; */
/* } */
.routeDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    display: none;
    font-size: 15px;
}

#rome {
    top: 305px;
    left: 615px;
}

#firenze {
    top: 260px;
    left: 590px;
}

#viareggio {
    top:250px;
    left: 560px;
}

#venezia {
    top: 210px;
    left: 610px;
}

#bled {
    top: 180px;
    left: 645px;
}

#ljubljana {
    top: 190px;
    left: 660px;
}

#munich {
    top: 125px;
    left: 595px;
}

#interlaken {
    top: 162px;
    left: 510px;
}

#arles {
    top: 260px;
    left: 440px;
}

#barcelona {
    top: 320px;
    left: 370px;
}

.euroCaption {
    position: relative;
    width: 100px;
    left: -43px;
    text-align: center;
}

#viareggioCaption {
    top: -33px;
    left: -60px;
}

#bledCaption {
    top: -30px;
    left: -60px;
}

@keyframes route-animation {
    10% {
        top: 250px;
        left: 585px;
    }

    20% {
        top:240px;
        left: 555px;
    }

    30% {
        top: 200px;
        left: 606px;
    }

    40% {
        top: 170px;
        left: 640px;
    }

    50% {
        top: 175px;
        left: 655px;
    }

    60% {
        top: 110px;
        left: 590px;
    }

    70% {
        top: 150px;
        left: 505px;
    }

    80% {
        top: 250px;
        left: 435px;
    }

    90% {
        top: 310px;
        left: 365px;
        display: none;
    }

    
}

.roma, .fiorentina, .carnival, .venice, .bledLake, .slovenia, .munchen1, .munchen2, .barca1, .barca2 {
    width: 1200px;
    justify-content: center;
    display: flex;
}

.romeImg, .firenzeImg, .viaImg, .veniceImg, .bledImg, .sloveniaImg, .munuchImg, .barcelonaImg {
    width: 320px;
    text-align: center;
    margin: 0 30px;
}

.romeInsta, .firenzeInsta, .viaInsta, .veneziaInsta, .bledInsta, .munuchInsta, .interakenInsta, .barcelonaInsta {
    width: 1200px;
    justify-content: space-around;
    display: flex;
}

#box2 img {
    width: 100%;
}

/* .romeInsta {
    width: 1200px;
    padding-left: 330px;
} */

.footer_box {
    position: relative;
    width: 1400px;
    justify-content: center;
    height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}