
* {
    box-sizing: border-box;
}

header {
    display: flex;
    /* width: 1920px; */
}

.logo {
    float: left;
    width: 300px;
    height: 100px;
    margin :  30px 15px 0;
}

.logo img {
    height: 100px;
}

nav {
    float: left;
    text-align: center;
    margin-left: 100px;
    padding: 0;
}

.topMenu {
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.topMenu ul {
    position: relative;
    display: inline;
    width: 57px;
    height: 23px;
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.topMenu ul li {
    float: left;
    padding: 0;
    list-style-type: none;
    margin-left: 70px;
    margin-top: 49px;
    transition: font-size 0.2s;
}

.topMenu ul li:hover{
    font-size: 23px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    min-height: 800px;
    background-color: lightgray;
    margin : 10px 10px 10px 10px;
    display: flex;
}

.mainBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1920px;
    margin-right: 20px;
}

.bless {
    position: absolute;
    margin-top: 40px;
    font-size: 40px;
}

.box1, .box2, .box3, .box4 {
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    text-align: center;
    
    margin: 140px 20px 0;
}

.box1{
    width: 350px;
    height: 600px;
    background-color: white;
}

.box1 img, .box2 img, .box3 img, .box4 img {
    max-width: 100%;
    height: 460px;
    margin: 0 auto;
}

.box2 {
    background-color: white;
    width: 350px;
    height: 600px;
}

.box3 {
    background-color: white;
    width: 350px;
    height: 600px;
}

.box4 {
    background-color: white;
    width: 350px;
    height: 600px;
}

.box_text {
    font-size: 24px;
}