@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
    box-sizing: border-box;
}

header {
    max-width: 1400px;
    margin: auto;
}
.headBar {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    height: 100px;
    margin: auto;
}


.headBar ul {
    margin: 0;
    padding-top: 30px;
    /* padding-right: 10px; */
}

.headBar ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.barList a {
    text-decoration: none;
    color: lightslategray;
}

section {
    width: 1400px;
    /* height: 1000px; */
    text-align: center;
    margin: auto;
}

section h1 {
    width: 1400px;
    font-size: 60px;
    margin: auto;
    
}

.mainBox {
    width: 1400px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
}
.introductionMent {
    margin: auto;
    width: 1400px;
    padding-top: 20px;
    font-size: 22px;
}

.introductionBox {
    width: 33.3%;
    /* float: left; */
    
}

.aboutTitle {
    text-align: left;
    float: left;
    font-size: 22px;
    margin-bottom: 30px;
    
}

.aboutContent {
    text-align: left;
    float: left;
    font-size: 18px;
    margin: 0;
    line-height: 2;
}
.imageBox {
    width: 33.3%;
    height: 500px;
    align-items: center;
    display: inline;
    /* margin: 0 10px; */
}
.imageBox img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
    margin-top: 70px;
}

.detailBox {
    width: 33.3%;
    display: inline;
}

.aboutDetail {
    text-align: left;
    font-size: 22px;
}

.detailContents {
    text-align: left;
    line-height: 2.2;
    font-size: 18px;
}

.mainBox2 {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

.aboutProfile {
    text-align: left;
    float: left;
    font-size: 24px;
    margin-bottom: 30px;
}

.profile {
    max-width: 1400px;
    position: relative;
}
.pGray {
    width: 1400px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    text-align: left;
    padding-left: 15px;
    align-items: center;
}

.pWhite{
    width: 1400px;
    height: 50px;
    background-color: white;
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    text-align: left;
    padding-left: 15px;
    align-items: center;
}

#pWhite1 {
    cursor: pointer;
}

#popup, #popup2 {
    position: absolute;
    /* opacity: 0; */
    padding: 10px;
    background-color: white;
    transition: opacity 0.5s ease;
    border-radius: 15px;
    border: 1px solid black;
}

#popup {
}

.popup-show {
    opacity: 1;
}

.popup-hide {
    opacity: 0;
}

#pGray2 {
    cursor: pointer;
}

.footerbox {
    position: relative;
    display: flex;
    width: 1400px;
    height: 150px;
    background-color: gray;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}